# Binary CAD formats are stored with Git LFS
*.step   filter=lfs diff=lfs merge=lfs -text
*.stp    filter=lfs diff=lfs merge=lfs -text
*.f3d    filter=lfs diff=lfs merge=lfs -text
*.FCStd  filter=lfs diff=lfs merge=lfs -text
*.3mf    filter=lfs diff=lfs merge=lfs -text
*.stl    filter=lfs diff=lfs merge=lfs -text
